{% extends "components/base_unlogged.html" %}
{% load static %}

{% block content %}
<main class="container-fluid">
    <div class="row">
        <section class="col-4"></section>
        <section class="col-4">
            <h1 class="text-center mb-4">Register</h1>
            
            {% if form.errors %}
            <div class="alert alert-danger">
                {% for field, errors in form.errors.items %}
                    {{ errors|join:", " }}
                {% endfor %}
            </div>
            {% endif %}
            
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'avatar' %}
                    <div class="mb-3">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endif %}
                {% endfor %}
                <div class="mb-3">
                    {{ form.avatar.label_tag }}
                    {{ form.avatar }}
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </section>
        <section class="col-4"></section>
    </div>
</main>
{% endblock %}