<aside class="col-3 bg-body-tertiary min-vh-100">
    <section class="mb-5">
        <h2 class="mx-auto">Popular Tags</h2>
        <span class="badge rounded-pill text-bg-primary">Brainrot</span>
        <span class="badge rounded-pill text-bg-secondary">Googlen't</span>
        <span class="badge rounded-pill text-bg-success">Offtopic</span>
        <span class="badge rounded-pill text-bg-danger">Danger</span>
        <span class="badge rounded-pill text-bg-primary">Internet Owner</span>
        <span class="badge rounded-pill text-bg-secondary">Certified hood classic</span>
    </section>
    <section>
        <h2 class="mx-auto">Best Members</h2>
        <a class="d-block" href="#">Директор интернета</a>
        <a class="d-block" href="#">Vasya Pupkin</a>
        <a class="d-block" href="#">Pasya Vupkin</a>
        <a class="d-block" href="#">PasysaP VuppuV</a>
    </section>

</aside>