<aside class="col-3 bg-body-tertiary min-vh-100">
    <section class="mb-5">
        <h2 class="mx-auto mb-3">Popular Tags</h2>
        {% for tag in popular_tags %}
            <a href="{% url 'tag' tag.name %}" class="text-decoration-none">
                <span class="badge rounded-pill text-bg-success mb-1">{{ tag.name }} ({{ tag.quest_count }})</span>
            </a>
        {% endfor %}
    </section>
    <section>
        <h2 class="mx-auto mb-3">New Members</h2>
        {% for profile in new_users %}
            <a class="d-block mb-2" href="#">{{ profile.user.username }}</a>
        {% endfor %}
    </section>

</aside>