<!doctype html>
{% load static %}

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TP Web</title>
    <link href="{% static 'css/bootstrap.css' %} " rel="stylesheet">
  </head>

  <body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid d-flex justify-content-between">  
             
              <a class="navbar-brand fw-bold" href="{% url 'index' %}">StackUnderflow
                <img src="{% static 'img/logo.png' %}" alt="" style="height: 50px;">
              </a>
              
              <form class="d-flex mx-auto w-50" role="search" action="{% url 'ask' %}">
                <input class="form-control me-2" type="search" placeholder="Поиск">
                <button class="btn btn-outline-success" type="submit">ASK!!1</button>
              </form>
              
              <div class="account d-flex align-items-center">
                <a href="{% url 'login' %}" class="small me-2">login</a>
                <a href="{% url 'signup' %}" class="small">register</a>
              </div>
            </div>
        </nav>
    </header>

    {% block content %}{% endblock %}

    {% include 'components/footer.html' %}
    
  </body>
</html>
