<footer class="bg-body-tertiary container-fluid mt-auto">
    <h3 class="fw-lighter text-center">Secret navigation</h3>
    
    <ul class="row mx-auto fw-lighter">
        <li class="col"><a href="{% url 'index' %}">index</a></li>
        <li class="col"><a href="{% url 'ask' %}">ask</a></li>
        <li class="col"><a href="{% url 'login' %}">login</a></li>
        <li class="col"><a href="{% url 'signup' %}">register</a></li>
        <li class="col"><a href="{% url 'settings' %}">user</a></li>
    </ul>
    <script src="static/js/bootstrap.bundle.js"></script>
</footer>